/* Survey page styles */

:focus {outline-style:none;
box-shadow:none;
border-color:transparent;}


.photo{
  width: 60%;
  padding: 10px;
}

form {
  margin: 0 auto;
  text-align: left;
  display: inline-block;
}

fieldset {
	border: none;
	margin: 20px 0;
}

textarea {
	width: 100%;
}

input:not([type="radio"]):focus,
textarea:focus,
select:focus {
	box-shadow: 0 0 0 2px #000;	
}

.container{
  text-align: center;
}

.newsletter{
  text-align: left;
}

.newsletter input,
.survey input:not([type="radio"]),
select,
button {
	display: block;
	width: 100%;
	margin-top: 10px;
}

.newsletter legend {
	text-align: center;
	font-size: 1.2em;
	padding-bottom: 10px;
}

button {
	font-size: 1.2em;
}

/* Styles for larger screens */
@media screen and (min-width: 840px) {
  .photo{
    width: 40%;
  }
}
